{% extends 'header.html' %}
{% load static %}
{% block content %}

<!DOCTYPE html>
<html lang="en">
	<head>
		

    </head>
	<body>
		
<h1>Visitor Data</h1>
<h4><li><a href="{% url 'back' %}">Home</a></li></h4>
<hr>  <!-- hr tag for horizontal line-->
{% for i in signups %}
<form action="{% url 'exit_user' i.id %}" method="post">

	

	{% csrf_token %}
	Name : {{i.fname}}<br>
	Last Name : {{i.lname}}<br>
	Mobile : {{i.mobile}}<br>
	Address : {{i.address}}<br>
	Gender : {{i.gender}}<br>
	<!--Status : {{i.current_status}}<br>-->
	Company Name : {{i.cname}}<br>
	Purpose : {{i.purpose}}<br>
	tosee : {{i.tosee}}<br>
	
	<!--<select name="email">
		<option>---To E-Mail---</option>
		<option value="it@exemedpharma.com">Amit Patel-IT</option>
		<option value="amitpatel.sai@gmail.com">Amit Patel-GMAIL</option>
	</select>
	<button type="submit" class="primary-btn order-submit">Send E-Mail </button>-->

	<!--<div class="form-group">
		<input class="input" type="email" name="send_email" placeholder="Email">
	</div>
	
	
	<button type="submit" class="primary-btn order-submit">Send mail</button>
	
</div>-->
	<button type="submit" class="primary-btn order-submit">Exit </button>

	<a href="{% url 'send_email' %}"><button type="button" class="primary-btn order-submit">Send Mail</button></a>
	
	<hr size="25px">
</form>
	{% endfor %}


		
		
	</body>
</html>
{% endblock %}